.userLabel{
    padding-right: 10px;
}
.pwLabel{
    padding-right: 10px;
}

.logIn {
    border: red 2px solid;
    border-radius: 10px;
    padding: 20px;
    
}

.usern{
    padding-right: 10px;
}
.pwLabel{
    padding-right: 10px;
}
.SUB{
    text-align: center;
    padding-top: 2rem;
}
.SIL{
    text-align: center;
    padding-top: 2rem;
    color: black;
    
}
.userLabel{
    color: black;
}
.cred-label{
    color: black;
}