.submit-button {
    background-image: linear-gradient(to right, var(--primary), var(--secondary));
    font-weight: bolder;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    align-self: start;
}
.submit-button:hover{
    background-image: linear-gradient(to right, var(--accent), var(--header));
}
h1 {
    text-align: center;
    color: var(--text);
    margin-top: 1rem;
}
input{
    background-color: var(--pure-mist);
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.9);
    border: none;
    width:100%;

    padding:5px;
    box-sizing: border-box;

}
#check1{
    margin: 0 auto;
}
   
#check2{
    
}
.logIn{
   
}
.signUp{
    
}
.login-form{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    border: var(--accent) solid;
    border-radius: 10px;
    padding: 1rem;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
}