.submit-button {
  background-image: linear-gradient(to right, red, blue);
  font-weight: bolder;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  align-self: start;
}
.submit-button:hover{
  background-image: linear-gradient(to right, darkred, darkblue);
}
h1 {
  text-align: center;
  color: #b70001;
}
input,textarea{
  background-color: lightblue;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.9);
  border: none;
  width:100%;
  
  padding:5px;
  box-sizing: border-box;

}

#name{
  grid-area: name;
}
#email{
  grid-area: email;
}
#phone{
  grid-area: phone;
}
#subject{
  grid-area: subject;
}
#message{
  grid-area: message;
  width:100%;
  height: 100%;
  align-self: stretch;
  justify-self: stretch;
  resize: none;
}
#submit{
  grid-area: submit;
}
.contact-form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 5fr 0.5fr;
  grid-template-areas:
    "name email"
    "phone subject"
    "message message"
    "submit submit";
  gap: 1rem;
  border:#b70001 solid;
  border-radius: 10px;
  padding: 1rem;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}
img{
  width:300px;
  margin: auto;
  background-color: lightblue;
  border-radius: 15px;
}