.submit-button {
  background-color: #b70001;
  font-weight: bolder;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  width: 100px;
  position: absolute;
  left: 50%;
  margin-top: 1rem;
}
.submit-button:hover{
  background-color: red;
}
h1 {
  text-align: center;
  color: #b70001;
}
div div input, div div textarea{
  background-color: lightblue;
  font-size: 25px;
  border-radius: 3px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  border: none;
  width:100%;
  height: 100%;
}

#input1{
  grid-area: input1;
}
#input2{
  grid-area: input2;
}
#input3{
  grid-area: input3;
}
#input4{
  grid-area: input4;
}
#input5{
  grid-area: input5;
  resize: none;
}
.contact-form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 5fr;
  
  border-radius: 5px;
  gap: 10px;
  margin: 40px;
}