*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bg);
  }
  :root{
    --bg:#99b9df;
    --text: #0e1b33;
    --primary: #5faef8;
    --secondary: #117ae0;
    --accent: #646cff;
    --header: #0949a5;
    --deep-onyx: #1e1e1e;
    --pure-mist:#f5f5f5;
    --urban-gray:#a0a0a0;
  }
  

.home {
  color: var(--text);
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
p {
  color: var(--text);
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}
table{
    width: 80%;
    border-collapse: collapse;
    margin-bottom: 2rem;
    margin: 0 auto;
}
th, td {
    padding: 12px 15px;
    border: 1px solid var(--urban-gray);
}
th {
    background-color: var(--secondary);
    color: var(--text);
}
td {
    background-color: var(--pure-mist);
    color: var(--text);
}
table tr:first-child th:first-child {
    border-top-left-radius: 20px; 
    border-left: none;
    border-top: none;
}
table tr:first-child th:last-child {
    border-top-right-radius: 20px; 
    border-right: none;
    border-top: none;
}
table tr:last-child td:first-child {
    border-bottom-left-radius: 20px; 
    border-left: none;
    border-bottom: none;
}
table tr:last-child td:last-child {
    border-bottom-right-radius: 20px; 
    border-right: none;
    border-bottom: none;
}