.home {
    color: var(--text);
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

table{
    width: 80%;
    border-collapse: collapse;
    margin-bottom: 2rem;
    margin: 0 auto;
    margin-top: 2rem;
}
th, td {
    padding: 12px 15px;
}
th {
    background-color: var(--urban-gray);
    color: var(--text);
}
td {

    color: var(--text);
}
table tr:first-child th:first-child {
    border-top-left-radius: 20px; 

}
table tr:first-child th:last-child {
    border-top-right-radius: 20px; 

}
table tr:last-child td:first-child {
    border-bottom-left-radius: 20px; 

}
table tr:last-child td:last-child {
    border-bottom-right-radius: 20px; 

}

table tr:nth-child(even) th,
table tr:nth-child(even) td {
    background-color: var(--pure-mist);
}

table tr:nth-child(odd) td {
    background-color: lightgray;
}