*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg);
  }
  :root{
  --bg:#99b9df;
  --text: #0e1b33;
  --primary: #5faef8;
  --secondary: #117ae0;
  --accent: #646cff;
  --header: #0949a5;
  --deep-onyx: #1e1e1e;
  --pure-mist:#f5f5f5;
  --urban-gray:#a0a0a0;
}
